.CardInfo {
    margin-left: 15px;
}

.titleOfProduct {
    font-size: 26px;
    font-family: 'Poppins';
    color: var(--Azul,#0A1926);
    margin-bottom: 15px;
}

.line {
    background: #0A1926;
    width: 45px;
    height: 3px;
    margin-top: 15px;
}

.boxInformation {
    width: auto;
    min-width: 600px;
    padding-left: 15px;
}

.descriptionOfProduct {
    font-family: 'Rubik';
    font-size: 15px;
    font-weight: 500;
    color: rgba(0,0,0,0.72);
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;
}

.informations {
    margin-top: 15px;
    font-family: 'Rubik';
    font-size: 15px;
    font-weight: 500;
    color: rgba(0,0,0,0.72);
    text-align: justify;
}

.priceOfProduct {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000;
    font-family: 'Poppins';
    font-size: 26px;
    font-weight: 600;
}

.Ali {
    font-family: 'Rubik';
    justify-self: center;
    margin: 0;
    padding: auto;
    font-size: 16px;
    font-weight: 600;
}