.BOX {
    display: flex;
    flex-direction:row;
    justify-self: space-between;
    align-content: center;
    /* padding-left: 105px;
    padding-right: 105px; */
    /* margin-top: 60px; */
    /* margin-bottom: 30px; */
    align-items: center;
}